.App {
  font-family: sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.button-33:focus {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  background-color: #1aa108;
  font-size: "30px";
  color: white;
}
